body{
    margin-top: 40px;
    /*background: url(../img/system/bg.jpg);*/
}

footer {
    
    margin-top: 20px;
    /*background-color: rgb(137, 135, 139);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;*/
  }
